.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto auto;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.level {
  display: flex;
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.level {
  position: relative;
}

.tooltip-label {
  margin-left: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.tooltip-label:hover + span {
  visibility: visible;
}

span {
  display: flex-col;
  flex-wrap: wrap;
  width: 200px;
  position: absolute;
  top: -15px;
  margin-left: 3px;
  background-color: slategray;
  color: white;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
}

.divison {
  position: relative;
}

.tooltip-label:hover + span {
  visibility: visible;
}

.tooltip {
  position: absolute;
  color: white;
  margin-top: 2px;
  padding: 5px;
  font-size: 20px;
  visibility: hidden;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.tooltip.active {
  visibility: visible;
  color: red;
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.close {
  color: white;
  border-radius: 5px;
  background-color: #007bff;
  float: right;
  font-size: 20px;
  padding: 4px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  background-color: #007bff;
  border-radius: 10px;
  border-color: #007bff;
  padding: 3px;
  border-color: none;
}
